.about-us-container {
  background-color: transparent;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(2px);
  margin: 2rem auto;
  padding: 4vw;
  border-radius: 0.7rem;
  width: 80vw;
}

.about-us-container h2 {
  /* text-align: center; */
  padding: 1rem 3rem;
  font-size: max(1.5rem, 3.5vw);
  margin: 0 5rem;
  color: #f06739;
  border-bottom: 2.5px solid white;
}

.about-us-container article {
  font-size: min(1.3rem, 4vw);
  padding: 1rem;
  margin: 2vh 5vw;
  text-indent: 2rem;
}

@media screen and (max-width: 600px) {
  .about-us-container {
    margin: 0.2rem auto;
    width: 85vw;
  }

  .about-us-container h2 {
    padding: 1rem;
    margin: 1rem;
  }
}
