.app-container {
  display: flex;
  flex-direction: column;
}

.suggested-articles {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.article-detail {
  padding: 2rem;
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  margin: 2rem auto;
  width: 80%;
}

.article-header {
  font-size: min(1.5rem, 3vw);
  text-align: center;
}

.article-title {
  font-weight: bold;
  color: #f06739;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1.5px solid white;
  padding: 0 1.5rem 1.5rem;
}

.article-meta {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #cccccc;
  font-size: min(1rem, 3.5vw);
  margin: auto;
  margin-bottom: 1rem;
}

.article-content {
  color: #ffffff;
  line-height: 1.8;
  font-size: min(1rem, 3.5vw);
}

.article-content p img,
.article-content img {
  max-width: 70%;
  height: auto;
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.article-content p:has(img) {
  padding-left: 12vw;
}

.article-content p {
  margin-bottom: 1rem;
}

.article-content a {
  color: #f06739;
  transition: color 0.3s ease;
}

.article-content a:hover {
  color: #c7491f;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  color: #f06739;
  font-weight: 600;
}

/* Card styles for suggested articles */

.suggested-articles .section-title {
  font-size: min(2.5rem, 8vw);
  margin: 1vh 2vw 3vh;
  letter-spacing: -1.5px;
}

.famous-articles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2vw;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: min(1.1rem, 4.3vw);
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 1rem 0 0;
  font-size: min(0.9rem, 3.4vw);
  color: #777;
}

.card {
  position: relative;
  min-width: 30vw;
  min-height: 35vh;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 0.5vw;
  background-color: #f2f2f2;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  /* left: 0; */
}

.card__content .read-more-button {
  width: fit-content;
}

@media screen and (max-width: 500px) {
  .article-detail {
    width: 90%;
    padding: 1.5rem;
  }

  .article-title {
    padding: 0 0 1rem;
  }

  .famous-articles-grid {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .card {
    width: 90vw;
    margin: 0 auto;
    /* height: 95vh; */
  }

  .card:hover {
    transform: none;
  }
}
