.back-btn {
  background: none;
  /* border: 1.5px solid gray; */
  border: none;
  color: white;
  background-color: #f06739;
  cursor: pointer;
  font-size: min(1rem, 3.5vw);
  width: fit-content;
  padding: 1rem 1.8rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  margin: 0.5rem 3rem;
}

.page-container {
  position: relative;
  height: 12vh;
}

.page-container .back-btn {
  align-self: flex-start;
  position: absolute;
  right: 0;
  bottom: 0;
}

.login-container .back-btn {
  margin: auto;
  transform: translateY(-2rem);
}

.back-btn:hover {
  color: white;
  background-color: #b7411a;
}
