.categories {
  position: sticky;
  margin: auto;
  border-bottom: 1px solid gray;
  /* top: calc(min(4rem, 10vw) + 2vh + 3rem + 25.6px); */
  top: calc(min(4rem, 10vw) + 2vh + 4rem + 5.6px);
  z-index: 990;
  transform: translateY(-100%);
  width: 100%;
}

.categories ul {
  padding: 1rem 0;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  text-transform: uppercase;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(10px);
}

.category {
  transition: color 0.3s;
}

.category:hover {
  color: #f06739;
}

@media screen and (max-width: 960px) {
  .categories {
    display: none;
  }
}
