.dabba {
  flex: 1;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid gray;
  position: sticky;
  top: calc(min(4rem, 10vw) + 2vh + 4rem + 5.6px);
  height: calc(99vh - (min(4rem, 10vw) + 2vh + 4rem + 5.6px));
  overflow-y: auto;
}

.dabba::-webkit-scrollbar {
  width: 8px;
}

.dabba::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 4px;
}

.dabba-left {
  border-left: none;
}

.dabba-right {
  border-right: none;
}

.dabba-content {
  padding: 1rem;
}

.dabba-content h2 {
  color: #f06739;
  padding: 1rem;
}

.dabba-content ul {
  padding-left: 1rem;
}

.dabba-content li {
  list-style-type: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
  width: 90%;
  justify-self: center;
  padding-bottom: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-color: #f06739;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transition: background-color 0.2s ease;
}

.icon:hover {
  background-color: #b43106;
}

.instagram {
  mask-image: url("../../social-media-icons/instagram.png");
  -webkit-mask-image: url("../../social-media-icons/instagram.png");
}

.linkedin {
  mask-image: url("../../social-media-icons/linkedin.png");
  -webkit-mask-image: url("../../social-media-icons/linkedin.png");
}

.facebook {
  mask-image: url("../../social-media-icons/facebook.png");
  -webkit-mask-image: url("../../social-media-icons/facebook.png");
}

.spotify {
  mask-image: url("../../social-media-icons/spotify.png");
  -webkit-mask-image: url("../../social-media-icons/spotify.png");
}

@media screen and (max-width: 960px) {
  .dabba {
    top: calc(min(4rem, 10vw) + 2vh + 2rem - 20px);
  }
}
