.editors-desk-container {
  background-color: transparent;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(2px);
  margin: 2rem auto;
  padding: 4vw;
  border-radius: 0.7rem;
  width: 80vw;
}

.editors-desk-container h2 {
  /* text-align: center; */
  padding: 1rem 3rem;
  font-size: max(1.5rem, 4vw);
  margin: 2rem 5rem;
  color: #f06739;
  border-bottom: 2.5px solid white;
}

.editors-desk-container article {
  padding: 0 1rem;
  margin: 1vh 5vw;
}

p {
  font-size: min(1.2rem, 3.5vw);
  text-indent: 2rem;
  margin: 0.7rem 0;
}

.editors-desk-container article img {
  width: 17vw;
  margin: 0.7rem;
  border-radius: 0.2rem;
  float: left;
}

.editors-desk-container article img:nth-of-type(odd) {
  float: right;
}

@media screen and (max-width: 600px) {
  .editors-desk-container {
    margin: 0.2rem auto;
    width: 94vw;
  }

  .editors-desk-container h2 {
    padding: 1rem;
    margin: 1rem;
  }

  .editors-desk-container article img,
  .editors-desk-container article img:nth-of-type(odd) {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}
