.navbar {
	padding: 1vh max(1rem, 5vw);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: sticky;
	/* width: 100%; */
	top: 0;
	z-index: 1000;
	background-color: rgba(18, 18, 18, 0.8);
	backdrop-filter: blur(10px);
}

.navbar-brand {
	font-size: 50px;
	font-weight: bold;
	color: rgb(230, 230, 230);
	transition: color 0.3s ease;
	letter-spacing: -1px;
}

.navbar-links {
	display: flex;
	list-style-type: none;
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	padding: 0;
	color: inherit;
	text-decoration: none;
	/* padding-top: 2rem; */
}

.navbar-link {
	font-size: 22px;
	color: #f5f5f5;
	transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-link:hover {
	color: #f06739;
	transform: translateY(-2px);
}

.navbar-brand-link {
	color: #f06739;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	transition: transform 0.3s linear;
}

.navbar-brand-link img {
	height: min(4rem, 10vw);
}

.navbar-brand-link:hover {
	transform: scale(1.1);
}

.navbar .search {
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: color 0.3s;
}

.navbar .search:hover {
	color: #f06739;
}
